extends layout

block content 
    h1 'Send new message'
    form(action="/new", method="post") 
        input(placeholder="Author", name='author') 
        input(placeholder="Message", name='msg')
        input(type="submit", value="Submit")
